.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    padding: 1rem;
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .list li a {
    height: 15rem;
    width: 100%;
    border: 1px solid #07043e2e;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #393e04;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }

  .list li a:hover {
    opacity: 0.9;
    transform: scale(1.02);
  }

  
  .image {
    object-fit: cover;
    height: 9rem;
  }

  
  
  .content {
    margin-top: 0.2rem;
    padding: 0.4rem 0.6rem;
    position: relative;
    height: 5rem;
  }
  
  .favorite {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
  }
  
  .favorite.not {
    color: grey;
  }
  
  .stars {
    margin: 0.5rem 0;
  }
  
  .product_item_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .origins span {
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: grey;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }
  
  .origins {
    flex: 9;
  }
  
  .cook_time {
    font-size: 0.9rem;
    flex: 3;
    text-align: right;
  }
  
  .price {
    position: absolute;
    bottom: 0;
    left: 0.9rem;
    background-color: white;
    padding: 0.3rem 100% 0 0;
    color: #414141;
    margin-top: 0.7rem;
    font-size: 1.1rem;
  }
