.header{
    background: #63488f;
    padding: 0;
    position : sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header a{
    color: #312d09;
    font-size: 18px;
    font-weight: bold
}

.header a:hover{
    background: #4e3577;
    color: rgb(255, 255, 255);
    cursor: pointer;
    .cart_icon{
        color: white;
    }
}

.container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;

}

.logo{
    font-weight: bold;
    padding: 1rem;
}
.logo_header{
    width: 90px ;
    height: 50px;
}

.header ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.header ul a{
    padding: 2rem;
    display: inline-block;
}

.menu_container{
    position: relative;
}

.menu{
    position: absolute;
    z-index: 1001;
    background-color: #63488f;
    display: none;
}

.menu_container:hover .menu{
    display: block;
}

.menu a{
    width: 100%;
    min-width: 6rem;
}

.cart_count{
    background-color: #07043e;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 50rem;
    font-size:0.8rem;
}


/* Icons */
.cart_icon{
    font-size: 20px; /* adjust size */
    color: black;
    vertical-align: middle;
}
